{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
    
     <style>
       html, body {
         background-color: #864D9A;
       }
      .container {
        display: flex;
        width: 800px;
        align-items: flex-start;
        flex-direction: row-reverse;
        align-content: flex-start;
        flex-wrap: wrap;
      }
      
      .box {
        background-color: #E78024;
        margin: 10px;
        height:100px;
        width: 120px;
      }
    </style>
    
	</head>
	<body>
		<!-- Your layout here -->
    <div class="container">
      <div class="box"> </div>
      <div class="box"> </div>
      <div class="box"> </div>
      <div class="box"> </div>
      <div class="box"> </div>
      <div class="box"> </div>
       <div class="box"> </div>
      <div class="box"> </div>
     
     
    </div>
	</body>
</html>